target
*.lock
.vscode
.solc_imports
/tonlabs-cli.conf.json
/tonos-cli.conf.json
/call.boc
/key1
/tests/data.tvc
/tests/samples/wallet.keys.json
/tests/samples/tmp.json
/tests/sample1.keys.json

tests/deploy_test.key
.idea/*

debot_err.log
*.keys.json

tests/PipechainTest1.chain
*.txns
*.log
*.boc
!tests/samples/SafeMultisigWallet_msg.boc