[package]
authors = [ 'TON DEV SOLUTIONS LTD <support@tonlabs.io>' ]
build = 'build.rs'
description = 'command line tool for TON blockchain'
documentation = 'https://docs.everos.dev/'
edition = '2021'
homepage = 'https://docs.everos.dev/'
keywords = [
    'TON',
    'SDK',
    'smart contract',
    'tonlabs',
    'solidity'
]
license = 'Apache-2.0'
name = 'tonos-cli'
readme = 'README.md'
repository = 'https://github.com/tonlabs/tonos-cli'
version = '0.29.2'

[features]
sold = ["dep:sold"]

[dependencies]
async-trait = '0.1.42'
base64 = '0.13'
chrono = '0.4'
clap = '2.32'
crc = '3.0'
ed25519-dalek = '1.0'
failure = '0.1'
futures = '0.3'
hex = '0.4'
indicatif = '0.16'
lazy_static = '1.4'
num-bigint = '0.4'
num-traits = '0.2'
qr2term = '0.2'
regex = '1.5'
reqwest = '0.11'
serde_derive = '1.0'
serde_json = '1.0'
sha2 = '0.10'
simplelog = '0.8'
tokio-retry = '0.3'
log = { features = [ 'std' ], version = '0.4' }
serde = { features = [ 'derive' ], version = '1.0' }
tokio = { default-features = false, features = [ 'full' ], version = '1.21' }
url = '2.3.1'
ton_abi = { git = 'https://github.com/tonlabs/ton-labs-abi.git' }
ton_block = { git = 'https://github.com/tonlabs/ton-labs-block.git' }
ton_client = { git = 'https://github.com/tonlabs/TON-SDK.git' }
ton_executor = { git = 'https://github.com/tonlabs/ton-labs-executor.git' }
ton_labs_assembler = { git = 'https://github.com/tonlabs/ton-labs-assembler.git' }
ton_sdk = { git = 'https://github.com/tonlabs/TON-SDK.git' }
ton_types = { git = 'https://github.com/tonlabs/ton-labs-types.git' }
ton_vm = { git = 'https://github.com/tonlabs/ton-labs-vm.git' }
ton_block_json = { git = 'https://github.com/tonlabs/ton-labs-block-json.git' }
sold = { git = 'https://github.com/tonlabs/TON-Solidity-Compiler.git', optional = true }

[dev-dependencies]
assert_cmd = '2.0'
lazy_static = '1.4'
predicates = '2.1'
string-error = '0.1.0'

[[bin]]
name = "tonos-cli"
path = "src/main.rs"

[[bin]]
name = "__tonos-cli_completion"
path = "src/completion.rs"
