[package]
authors = [ 'TON DEV SOLUTIONS LTD <support@tonlabs.io>' ]
build = 'build.rs'
description = 'command line tool for TON blockchain'
documentation = 'https://docs.ton.dev'
edition = '2018'
homepage = 'https://ton.dev'
keywords = [
    'TON',
    'SDK',
    'smart contract',
    'tonlabs',
    'solidity'
]
license = 'Apache-2.0'
name = 'tonos-cli'
readme = 'README.md'
repository = 'https://github.com/tonlabs/tonos-cli'
version = '0.26.23'

[dependencies]
async-trait = '0.1.42'
base64 = '0.10.1'
chrono = '0.4'
clap = '2.32'
crc16 = '0.4.0'
ed25519-dalek = '1.0.0-pre.3'
failure = '0.1.6'
futures = '0.3.21'
hex = '0.3.2'
indicatif = '0.16'
lazy_static = '1.4.0'
num-bigint = '0.4'
num-traits = '0.2'
qr2term = '0.2.0'
regex = '1.5.4'
reqwest = '0.10'
serde_derive = '1.0.91'
serde_json = '1.0'
sha2 = '0.8'
simplelog = '0.8.0'
tokio-retry = '0.3'
log = { features = [ 'std' ], version = '0.4.11' }
serde = { features = [ 'derive' ], version = '1.0' }
tokio = { default-features = false, features = [ 'full' ], version = '0.2' }
ton_abi = { git = 'https://github.com/tonlabs/ton-labs-abi.git', tag = '2.2.5' }
ton_block = { git = 'https://github.com/tonlabs/ton-labs-block.git', tag = '1.7.48' }
ton_client = { git = 'https://github.com/tonlabs/TON-SDK.git', tag = '1.34.1' }
ton_executor = { git = 'https://github.com/tonlabs/ton-labs-executor.git', tag = '1.15.67' }
ton_labs_assembler = { git = 'https://github.com/tonlabs/ton-labs-assembler.git', tag = '1.2.38' }
ton_sdk = { git = 'https://github.com/tonlabs/TON-SDK.git', tag = '1.34.1' }
ton_types = { git = 'https://github.com/tonlabs/ton-labs-types.git', tag = '1.11.1' }
ton_vm = { git = 'https://github.com/tonlabs/ton-labs-vm.git', tag = '1.8.35' }
ton_block_json = { git = 'https://github.com/tonlabs/ton-labs-block-json.git', tag = '0.7.15' }

[dev-dependencies]
assert_cmd = '1.0.3'
lazy_static = '1.4.0'
predicates = '1'
