[package]
name = "tonos-cli"
description = "command line tool for TON blockchain"
authors = ["TON DEV SOLUTIONS LTD <support@tonlabs.io>"]
repository = "https://github.com/tonlabs/tonos-cli"
homepage = "https://ton.dev"
documentation = "https://docs.ton.dev"
build = "build.rs"
readme = "README.md"
license = "Apache-2.0"
keywords = ["TON", "SDK", "smart contract", "tonlabs", "solidity"]
edition = "2018"
version = "0.2.1"

[dependencies]
async-trait = "0.1.42"
base64 = "0.10.1"
clap = "2.32"
crc16 = "0.4.0"
chrono = "0.4"
ed25519-dalek = "1.0.0-pre.3"
hex = "0.3.2"
qr2term = "0.2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0.91"
sha2 = "0.8"
simplelog = "0.8.0"
log = {version = "0.4.11", features = ["std"] }
tokio = { version = "0.2", features = ["full"], default-features = false }

ton_abi = { git = "https://github.com/tonlabs/ton-labs-abi.git" }
ton_client = { git = 'https://github.com/tonlabs/TON-SDK.git' }
ton_sdk = { git = 'https://github.com/tonlabs/TON-SDK.git' }
ton_types = { git = "https://github.com/tonlabs/ton-labs-types.git" }
ton_block = { git = "https://github.com/tonlabs/ton-labs-block.git" }


[dev-dependencies]
assert_cmd = "0.11"
predicates = "1"
lazy_static = "1.4.0"
