[package]
name = "tonos-cli"
description = "command line tool for TON blockchain"
authors = ["TON DEV SOLUTIONS LTD <support@tonlabs.io>"]
repository = "https://github.com/tonlabs/tonos-cli"
homepage = "https://ton.dev"
documentation = "https://docs.ton.dev"
build = "build.rs"
readme = "README.md"
license = "Apache-2.0"
keywords = ["TON", "SDK", "smart contract", "tonlabs"]
edition = "2018"
version = "0.1.12"

[dependencies]
base64 = "0.10.1"
clap = "2.32"
crc16 = "0.4.0"
chrono = "0.4"
ed25519-dalek = "1.0.0-pre.3"
hex = "0.3.2"
qr2term = "0.2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0.91"
sha2 = "0.8"
log = "0.4.11"

ton_abi = { git = "https://github.com/tonlabs/ton-labs-abi.git" }
ton-client-rs = { git = 'https://github.com/tonlabs/ton-client-rs.git', branch = "local-run-context" }
ton_client = { git = 'https://github.com/tonlabs/TON-SDK.git', branch = "local-run-context" }
ton_sdk = { git = 'https://github.com/tonlabs/TON-SDK.git', branch = "local-run-context" }
ton_types = { git = "https://github.com/tonlabs/ton-labs-types.git" }
ton_block = { git = "https://github.com/tonlabs/ton-labs-block.git" }

[dev-dependencies]
assert_cmd = "0.11"
predicates = "1"
